a {
    color: #000000;
    text-decoration: none;
    /* transition: all .2s; */
}
a:hover {
    color: blue;
    /* font-size: 2rem; */
}
/* a:visited {
    color: ;
} */
a:active {
    color: blueviolet;
}
.css:hover {
    background: lawngreen;
}
.btn {
     background: #111;
     padding: 2px 15px;
     color: #fff;
     border: none;
     cursor: pointer;
     border-radius: 5px;

}
.btn:hover {
    opacity: 0.8;
    color: blue;
    font-family: inherit; 
}